name: Build Status

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test Perl Syntax
        run: if find . -name '*.pl' -name '*.cgi' -name '*.pm' -exec perl -c {} 2>&1 \; | grep "syntax error"; then exit 1; fi
